<p>
  <b>Product:</b>
  <%= @products.prod_name %>
</p>

<p>
  <b>Description:</b>
  <%= @products.description %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@products.price, :unit => "$") %>
</p>


 <%= link_to "Buy #{@products.prod_name} Now!", :class => 'btn btn-danger btn-large', :id => 'buy-now-button' %>
